@import url('https://fonts.googleapis.com/css?family=Patrick+Hand+SC|Roboto&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main{
    width: 100%;
    height: 750px;
    background-color:#ffffff;
    position: relative;
}
.sub-main{
    background-color: #ced9f6;
    width: 1400px;
    height: 650px;
    left: 55px;
    position: relative;
    top: 55px;
    

}
.photo{
    width: 640px;
    height: 600px;
    background-color: #fff;
    position: relative;
    left: 60px;
    top: 25px;
   
}
.photo img{
    width: 630px;
    height: 600px;
}
.text{
    width:640px;
    height: 600px;
    background-color: rgb(255, 255, 255);
    position: relative;
    left: 700px;
    bottom: 575px;
    font-family: sans-serif; 
    font-size: 20px;
    
}
.text #input{
    /* background-color: #ced9f6; */
    width: 450px;
    height: 17px;
}
.password{
    margin-top: 2rem;
    font-family: 'poppins';
}
.email{
    margin-top: 2rem;
    
}
.name{
    margin-top: 2rem;
}
/* .form{
  display: flex;
  flex-direction: column;
  position: relative;
  left: 20px;
  top: 60px;
  

} */
button{
    background-color: #F08B34;
    border: #fff;
    border-radius: 5px;
    width:475px;
    height: 49px;
     color: #fff;
}
.text  h1,p{
    font-family:'Courier New', Courier, monospace;
    position: relative;
    /* top: 50px; */
    
}
.text p{
    bottom: 40px;
}
.text h1{
    bottom: 10px;
}
.footer{
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    bottom: 20px;
    
}
.footer span{
    color: #F08B34;
   
}
.cover{
    width:640px;
    height:600px;
    background-color:#110101;
    opacity: 0.8;
    position: relative;
    left: 110px;
    bottom: 670px;


}
.cover h1,p{
    color: #fff;
    position: relative;
     top:200px;
}
.cover h1 span{
color:#F08B34;

}
.cover h1{
    padding-left: 100px;
}
.cover{
padding-left: 60px;
text-align: center;
}
