.sub-container{
    margin-top:30px;
    background-color:#EDF2FF;
    width:90vw;
    height:85vh;
    margin-left:100px;
    margin-right:200px;
    box-shadow:0px 0px 10px rgba(0,0,0,0.2);

}
.side-bar{
    float:left;
    background-color:black;
    color:white;
    width:210px;
    height:80vh;
    margin-top:0;
}
.main {
    dispaly:flex;
    margin-left:15em;
    background-color:white;
    width:75%;
    height:70vh;
    margin-right:auto;
    margin-top:20px;
    box-shadow:0px 0px 10px rgba(0,0,0,0.1);
}
table,tr,td,th{
    border:1px solid grey;
    border-top:none;
    border-right:none;
    border-left:none;
    padding-right:80px;
    margin-left:40px;
    font-family:'Poppins'sans-serif;
    padding-top:30px;
       /* cellspacing:0; */
}
input{
    width:300px;
    height:auto;
    margin-left:250px;
    background-color:transparent;
    font-family:'Poppins'sans-serif;
}
/* label{
    margin-left:15em;
    font-family:'Poppins'sans-serif;
} */
p{
    font-size:12px;
    font-family:'Poppins'sans-serif;
}
.all-clients{
    margin-left:40px;
    font-family:'Poppins'sans-serif;
}
.filter{
    float:right;
    margin-right:20em;
    font-family:'Poppins'sans-serif;
}
.sort{
    margin-left:40em;
    margin-bottom:10px;
}
.resto{
    background-color:orange;
    border:none;
    color:white;
    border-radius:5px;
    width:70px;
    font-family:'Poppins'sans-serif;
}
.plus{
    color:orange;
    margin-left:47em;
    margin-bottom:20px;
    vertical-align:top;
}
.eye{
    margin-left:30px;
    color:orange;
    font-size:20px;
}
.new-client{
    margin-left:30em;
    margin-top:5em;
}
.new{
    margin-left:30em;
    margin-top:1em;
    outline:none;
    border-bottom:1px solid grey;
}